body {
	background: #444;
}
canvas {
	margin:auto;
	margin-top:2em;
	display:block;
	border-top:    3px solid #222;
	border-left:   3px solid #222;
	border-right:  3px solid #666;
	border-bottom: 3px solid #666;
}

info {
	font-family: sans-serif;
	display:block;
	color: #aa0;
	width:512px;
	margin:auto;
	background:rgba(0,0,0,0.88);
}
