body {
	background: #444;
	margin-top:2em;
}

lul,button {
	border-top:    3px solid #666;
	border-left:   3px solid #666;
	border-right:  3px solid #222;
	border-bottom: 3px solid #222;
}

lul {
	margin:auto;
	display:block;
	width:518px;
	padding:2px;
}

canvas {
	margin:auto;
	display:block;
	background: black;
	border-top:    3px solid #222;
	border-left:   3px solid #222;
	border-right:  3px solid #666;
	border-bottom: 3px solid #666;
}

info {
	font-family: sans-serif;
	display:block;
	color: #0c0;
	width:512px;
	margin:auto;
	padding:0.33em;
	background:rgba(0,0,0,0.77);
}

button {
	margin:0.5em;
	font-weight:bold;
	padding:0.77em;
	border-radius:1em;
	background:  #333;
	color: #cc0;
}

a {
	color:white;
}

hidden {
	display: none;
}
